<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="../../images/logo.png">
</div>
<div class="col-md-12" >
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>Title</th>        
        <th>Description</th>    
        <th>Term</th>    
      </tr>
    </thead>
      <tbody>  
          <tr *ngFor="let task of tasks">
            <th>{{task.Title}}</th>
            <th>{{task.Description}}</th>
            <th>{{task.Term}}</th>
          </tr>      
  </tbody>  
  </table>  
</div>-->

<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>